.App {
  text-align: center;
  font-family: sans-serif;
  background: #fafafa;
}

h1, h2, h3 {
  font-weight: bold;
}

h1 {
  font-size: 22px;
}

input {
  box-sizing: border-box;
  height: 30px;
  width: 300px;
  margin: 5px 0;
  border: none;
  border-bottom: 1px solid black;
  font-size: 16px;
  outline: none;
}

button {
  box-sizing: border-box;
  height: 30px;
  width: 300px;
  margin: 5px 0;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  background: #21D500;
  color: white;
  box-shadow: 0px 3px 3px gray;
}
